body {
    position: relative;
}

#menu {
    height: 100%;
    width: 200px;
    float: left;
}

#content {
    position: absolute;
    left: 200px;
}

#main-bar {
    position: relative;
    width: 500px;
    height: 500px;
    float: left;
    margin-bottom: 100px;
}

#side-bar {
    width: 400px;
    float: left;
}

#canvas {
    /* size must be in html or else shit happens */
    /*width: 800px;*/
    /*height: 800px;*/
    border: 1px dotted;
    background: #FFFFFF;
}

#controller {
    clear: both;
}

#scoreboard {
    min-height: 100px;
    min-width: 200px;
    margin: 20px;
    background: #bbbbbb;
    float: left;
}

#chat {
    clear: both;
    float: left;
}

#log {
    width:100%;
    clear: both;
    float: left;
}

/*TODO make messages look not fucked up*/
/*TODO also make it not steal focus...*/

#messages {
    width: 800px;
    top: 150px;
    position: absolute;
    text-align: center;
    margin: auto;
}

#title {
    font-size: 400%;
    background-color: rgba(200, 200, 200, 0.2);
    color: #FF0000;
    display: none;
}

#message {
    margin: 0;
    font-size: 200%;
    background-color: rgba(200, 200, 200, 0.2);
    color: #880000;
    display: none;
}