#content {
    background: #FFFFFF;
}

#canvas {
    /* size must be in html or else shit happens */
    /*width: 600px;*/
    /*height: 600px;*/
    border: 1px dotted;
}

#controller {
    float: left;
}

#scoreboard {
    margin: 20px;
    background: #FFFFFF;
    float: left;
}